{% extends 'base.html.twig' %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><h3>View Box</h3></div>
            <div class="col-md-3">
                {% if is_granted("ROLE_FARMER") %}
                    <a href="{{ path('box_index') }}" class="btn btn-primary float-left">
                        <i class="fas fa-arrow-circle-left"></i>
                        Back to list
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-deck mb-3">
            <div class="card mb-6 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Box Details</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title"><small class="text-muted">{{ box.type }}</small></h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product Name</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in box.boxProducts %}
                            <tr>
                                <th scope="row">{{ product.name }}</th>
                                <td>{{ product.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if box.auction %}
                        <h3 class="card-title pricing-card-title"><small class="text-muted">Auction Details</small></h3>
                        <ul>
                            <li>Start Date: {{ box.auction.startDate|date('Y-m-d') }}</li>
                            <li>End Date: {{ box.auction.endDate|date('Y-m-d') }}</li>
                            <li>
                                Start Price: {{ box.auction.price }}
                                <i class="fas fa-euro-sign"></i>
                            </li>
                            <li>
                                But Out Price: {{ box.auction.buyOutPrice }}
                                <i class="fas fa-euro-sign"></i>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('box') }}
{% endblock %}
